apiVersion: v1
kind: Service
metadata:
  name: myapp-service
  namespace: game-2048
spec:
  type: LoadBalancer
  selector:
    app: myapp
  ports:
    - protocol: TCP
      port: 80
      targetPort: 5000
